body {
  font-family: monospace;
  height: 100dvh;
  background-color: hsl(0, 0%, 100%);
}

section {
  display: grid;
  place-content: center;
  height: 100%;
  position: relative;
  text-align: center;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvb;
  background-color: transparent;
  z-index: 10;
}

.toolbar {
  position: fixed;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  z-index: 20;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

a {
  color: hsl(0, 0%, 0%);
  z-index: 30;
}
